.root {
    li {
        display: inline-block;
    }



    a {
        display: inline-block;
        text-align: center;
        width: 45px;
        line-height: 18px;
        height: 42px;
        padding: 10px;
        border: 1px solid #20B2AA;
        border-radius: 30px;
        margin-right: 5px;
        cursor: pointer;


        &:hover {
            background-color: #20B2AA;
            color: #fff;
        }

    }


    :global {
        .selected {
            a {
                background-color: #20B2AA;;
                color: #fff;
            }
        }
     }


}