
.input {
   border: 1px solid rgba(0, 0, 0, 0.1); 
   padding: 12px 20px;
   width: 200px;
   border-radius: 10px;
   font-style: 16px;
   transition: all 0.15s ease-in-out;

   &:focus {
       border: 1px solid rgba(0, 0, 0, 0.3);
   }
}

.clear {
    height: 35px;
    width: 35px;
    opacity: 0.3;
    position: absolute;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}